/* Add your CSS styles here */

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #081b29;
    color: #ffffff;
}

.header {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 0 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    background-image: url('WhatsApp\ Image\ 2024-03-06\ at\ 23.32.16_b9f0f7ab.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px; 
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
}

.contact-content {
    text-align: center;
}

.contact-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-content ul li {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #00abf0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #008db1;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
